body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #02394C;
  align-items: center;
  font-family: 'Luckiest Guy', cursive;
  background-image: url("assets/bridge-background.png");
  color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#landing-page{
  height: 600px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #02394C;
  align-items: center;
  font-family: 'Luckiest Guy', cursive;
  background-image: url("assets/bridge-background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#board{
  position: relative;
  height: 625px;
  width: 600px;
  border: 2px solid black;
  background-color: grey;
  background-image: url("assets/road.jpg");
  background-size: 10%;
  background-repeat: repeat;
  margin-left: 4%;
  overflow: hidden;
  animation: animatedBackground 4s linear infinite;
  justify-content: space-around;
  border: 1px solid white;
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 0 100%; }
}

.car {
  position: absolute;
  background-image: url("assets/blue-car.png");
  height: 101px;
  width: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 75px;
  left: 50%;
}

.obstacle{
  position: absolute;
  height: 100px;
  width: 51px;
  background-size: cover;
  /*background-size: contain;*/
  background-repeat: no-repeat;
  top: -200px;
}

#obstacle_1{
  background-image: url("assets/red-car.gif");
}

#obstacle_2{
  background-image: url("assets/yellow-car.png");
}

#obstacle_3{
  background-image: url("assets/police-car.png");
}

#obstacle_4{
  background-image: url("assets/orange-car.png");
}

#obstacle_5{
  background-image: url("assets/grey-car.png");
}

#obstacle_6{
  background-image: url("assets/green-car.png");
}

#button-div{
  display: flex;
  align-items: center;
  width: 600px;
  height: 150px;
  justify-content: space-around;
}

header{
  height: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;

}

button{
  height: 66px;
  width: 150px;
  background-color: grey;
  color: black;
  font-family: 'Luckiest Guy', cursive;
}

#landing-headline{
  position: absolute;
  top: 150px;
  font-size: 30px;

}
#call-to-action{
  position: absolute;
  bottom: 200px;
}

#submit-button{
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  body{
    background-color: grey;
    display: flex;
    flex-direction: row;
  }}


